fastapi
uvicorn
python-dotenv

langchain==1.2.8
langchain-core==1.2.8
langchain-community==0.4.1
langchain-chroma==1.1.0
langchain-groq==1.1.2
langchain-huggingface==1.2.0
langchain-text-splitters==1.1.0

chromadb
pypdf
sentence-transformers


